*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body{
  background-color: #696868;
  
}

a{
  display: inline-block;
}

p, a{
  color: white;
  font-size: 20px;
}

p{
  display: flex;
  flex: 1;
  padding-right: 15px;
  padding-top: 20px;
  font-size: 20px;
}

h4,h2,h3{
 color: white;
}

/*Header Atrributes*/

header{
 top: 0;
}

header h1{
  display: inline-block;
  font-size: 48px;
 text-align: center;
 
}
.header-img{
  position: absolute;
  display: block;

}
header nav{
  padding-top: 15px;
}

header nav ul{
  list-style-type: none;
}

header nav ul li a{
  color: white;
}

header, footer {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  text-align: center;
}

/*Footer Attributes*/

footer{
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 9990;
}

/* Hero Attributes */

.hero{
  border-width: 40px;
  border-color: red;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: bottom;
  height: 600px;
  background-color: purple;
}

/* Article Section */

#grid{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.art-img1{
  grid-column-start: 2;
  grid-column-end: 5;
}

.art-img2{
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.art-img3{
  grid-row-start: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}

.art-img4{
  grid-row-start: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}

.card1{
  width: 100%;
  justify-content: space-around;
  flex-wrap:wrap;
  padding-right: 10px; 
}

.card2{
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-right: 10px; 
}

/* Section Attributes */

section{
  display: flex;
}


.section-title{
  width: 150px;
  margin: 25px;
  color: white;
  text-align: center;
  border-right: 2px solid black;
  height: max-content;
  flex-direction: column;
  flex-wrap: wrap;
}

section p{
  display: flex;
  flex-wrap: wrap;
}

section .about-info{
  width: 50%;
  color: white;
  text-align: center;
}

section h3{
  justify-content: center;
}

section h2 p{
  text-align: left;
}

/*Contact Attributes*/

.contact-info{
  width: 100%;
  float: right;
}
.Contacts{
  align-items: baseline;
}

.contact-info p{
  padding-right: 15px;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header{
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1{
    width: 100%;
    text-align: center;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
 section{
   padding: 30px 15px;
   display: block;
   
   text-align: center;

  }

  section h2{
    text-align: center;
  }

  #grid{
    display: flex;
    flex-wrap: wrap;
  }

  img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-title{
    border-right: none;
    border-bottom: 2px solid black;
    width: auto;
  }

    

  section p{
    width: auto;
    display: block;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
   .section-title {
   width: 95%;
  }

}