*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

body{
  background-color: #696868
}

p, a{
  color: white;
 
}

p{
  display: flex;
  flex: 1;
  padding-right: 15px;
  padding-top: 20px;
  font-size: 20px;
  
}


h4{
 color: white;
 
}

header, footer {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  text-align: center;
}

header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

footer{
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 9990;
}

header h1{
  display: inline-block;
  font-size: 48px;
 text-align: center;
 
}

header nav{
  padding-top: 15px;
}

header nav ul{
  list-style-type: none;
}

/* header nav ul li{
  display: inline-block;
} */

header nav ul li a{
  color: white;
}

.hero{
  border-width: 40px;
  border-color: red;
  
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: bottom;
  height: 600px;
  background-color: purple;
}

.hero-title{
  /* background-color: red; */
  position: relative;
  
  display: flex;

}

section img{
  width: 150px;
  display: block;
  position: relative;
justify-content: space-around;
padding: 3px; 
}

section{
  /* text-align: center; */
  display: flex;
/* flex-direction: column; */
/* justify-content: space-around; */
}

.section-title{
  width: 150px;
  margin: 25px;
  
  color: white;
  text-align: center;
  border-right: 2px solid black;
  height: 150px;
  
  flex-direction: column;
  
  flex-wrap: wrap;
}

section p{
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

section .about-info{
  
  width: 50%;
  color: white;
  text-align: center;
}

.contact-info{
  width: 100%;
  float: right;
}

.contact-info p{
  padding-right: 15px;
}

section h2 p{
  text-align: left;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header{
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1{
    width: 100%;
    text-align: center;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
 section{
   padding: 30px 15px;
   display: block;
   
   text-align: center;

  }

  section h2{
    text-align: center;
  }

  section img {
   flex: 0 1 10%;
   margin-right: 0;
   margin-top: 15px;
   margin-bottom: 15px;
   display: flex;
    justify-content: center;
  width: auto;
  box-sizing: content-box;
  }

  .section-title{
    border-right: none;
    border-bottom: 2px solid black;
    width: auto;
    
  }

  section p{
    width: auto;
    display: block;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
   .section-title {
   width: 95%;
  }

}